@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900,700italic,900italic);

@font-name: 'Roboto';

.font-thin{       font-family: 'Roboto', Arial, Helvetica,sans-serif;       font-weight: 100;}
.font-light{      font-family: 'Roboto', Arial, Helvetica,sans-serif;       font-weight: 300;}
.font-normal{     font-family: 'Roboto', Arial, Helvetica,sans-serif;       font-weight: 400;}
.font-medium{     font-family: 'Roboto', Arial, Helvetica,sans-serif;       font-weight: 500;}
.font-bold{       font-family: 'Roboto', Arial, Helvetica,sans-serif;       font-weight: 700;}
.font-ultrabold{  font-family: 'Roboto', Arial, Helvetica,sans-serif;       font-weight: 900;}