@import "_myFonts";
@import "_myBS";
@import "_myBSVar";
@import "_mixins";

@media (max-width: @screen-xs-max) {}
@media (min-width: @screen-sm-min) {}
@media (min-width: @screen-md-min) {}
@media (min-width: @screen-lg-min) {}

///////////////////////////////////////////////
//////// Geral
///////////////////////////////////////////////

body{ 
  .font-normal;
}

//////// Variáveis
@new-color-yellow: #ecbd00;
@new-color-gray: #1b1a20;

.product-item{
  .size(100%, auto); .text-center; margin-bottom: 30px; .transDefault;
  &:hover{
    cursor: pointer;
   .product-item-filter{
      .setFlexBox;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  &-info{
    max-width: 85%;
    margin: auto;
    margin-top: 15px;
  }
  &-filter{
    .setFlexBox;
    display: none;
    .size(180px, 230px);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -90px;
    background-color: rgba(0, 0, 0, 0.4);
    .product-btn-add{
      border-radius: 0;
      border: solid 1px @black;
      text-transform: uppercase;
      font-size: 12px;
      .transDefault;
      &:hover{
        color: @white;
        background-color: @black;
        border: solid 1px @white;
      }
    }
  }
  &-divisor{
    width: 25px;
    height: 2px;
    background-color: @new-color-yellow;
    display: inline-block;
  }
  &-price-val{
    font-size: 20px;
    .font-bold;
  }
  &-installments{
    // .font-bold;
    font-size: 13px;
    color: @gray-light;
    
  }
}

.shopping-bag{
  .square(40px);
  .setInlineFlex;
  color: @black;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  &:hover{
    color:@black;
    cursor: pointer;
  }
  &-icon{
    font-size: 30px;
  }
  &-cont{
    font-size: 11px;
    font-weight: bold;
    background-color: @new-color-yellow;
    border: solid 1px @black;
    border-radius: 150px;
    display: inline-block;
    padding: 0px 4px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 12px;
    margin-bottom: -4px;
  }
}


.section-bag{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: @new-color-gray;;
    width: 60%;
    color: @white;
    margin-right: -60%;
    .transDefault;
    &-header{
      height: 130px;
      .setFlexBox;
      -webkit-justify-content: center;
      justify-content: space-around;
      -webkit-align-items: center;
      align-items: center;
      &-sacola{
        position: relative;
        font-size: 20px;
        font-weight: bold;
        .shopping-bag-cont{
          left: 0;
          right: inherit;
          margin-left: 20px;
          color: @black;
        }
        &-title{
          margin-left: 15px;
        }
      }
    }
    &-item{
      overflow: hidden;
      border-top: solid 1px @black;
      padding: 20px;
      img{
        max-width: 100%;
      }
      &-filter{
        .size(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
      }
    }
    &-btn-close{
      font-size: 25px;
      color: @white;
      &:hover{
        cursor: pointer;
      }
    }
    .item-bag{
      &-close-excluir{
        .text-right;
        color: @black;
        font-size: 20px;
        padding: 0 0 15px 15px;
        
      }
      &-close-excluir-btn{
        cursor: pointer;
        &:hover{
          z-index: 999;
          color: @white;
          position: relative;
          .section-bag-item-filter{
            display: block;
          }
          .item-bag-close-valor{
              text-decoration: line-through;
          }
          .item-bag-close-valor{
              text-decoration: line-through;
          }
        }
      }
      &-close-valor{
        color: @new-color-yellow;
        .text-right;
      }
      &-text-tamanho{
        font-size: 12px;
        color: @gray;
        padding-right: 5px;
        border-right: solid 1px @gray;
        margin-right: 5px;
      }
      &-text-style{
        font-size: 12px;
        color: @gray;
      }
      &-text-amount{
        font-size: 12px;
        color: @gray;
      }
    }
    &-empty{
      .text-center;
      font-size: 18px;
      margin-top: 30px;
    }
}